.container {
    padding: 40px;
  }
  
.slick-slide img {
  width: 100%
}

.slick-dots li button::before {
  font-size: 12px !important;
}

.slick-arrow::before {
  color: black !important;
  font-size: 25px;
}

/* .slick-next:before {
  color: black !important;
}

.slick-prev:before {
  color: black !important;
} */

.bg-image {
  max-width: 100%;
  object-fit: cover;
  width: auto;
}

.wrapper {
  display: inline-block;
  position: relative;
}

.other-images {
  position: absolute;
  bottom: -1px;
  text-align: center;
  width: 100%;
}

.other-images img {
  max-width: 68%;
}

.item {
  border-top: 1px solid black;
}

#order-table {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.header {
  font-weight: bold;
}